<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static "portal_style.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "native.css" %}">
        <link rel="icon" type="image/png" href="{% static "favicon.png" %}"/>
        <meta property="og:title" content="pleiades.link">
        <meta property="og:description" content="A personal website">
        <meta property="og:image" content="{% static "favicon.png" %}">
        <meta property="og:url" content="https://pleiades.link">
        <meta name="twitter:card" content="summary_large_image">
        <title>pleiades.link</title>
    </head>
    <body>
        <div class="global-container">
            <div class="main-container">
                <div class="parallax"></div>
                <img class="header-image" src="{% static "portal_header.png" %}" />
                <div class="rss"><a href="https://github.com/pleiadeslink" target="_blank"><img src="{% static "github.png" %}" /></a><a href="https://github.com/pleiadeslink/" target="_blank"><img src="{% static "mastodon.png" %}" /></a><a href="{% url 'feed' %}"><img src="{% static "rss.png" %}" /></a></div>
                <div class="main-title">pleiades.link</div>
                <ul class="nav">
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                </ul>
                {% block content %} 
                <!-- Content Goes here -->
                {% endblock content %}
                <div class="footer">Header image by <a href="https://www.deviantart.com/norma2d/" target="_blank">Norma2D</a></br>This website respects your privacy and does not track you<br /><a href="https://m.do.co/c/6e3850773694" target="_blank">Get $100 in credit at Digital Ocean</a><br/>Bitcoin: bc1qdr6jmkn5gq5k5ns6tgnav2delw0v98cmaxyqex</div>
            </div>
        </div>
    </body>
</html>