{% extends "portal_base.html" %}
{% load static %}

{% block content %}
    {% for post in posts %}
        <div class="post-container">
            <div class="post-title-container">
                <div class="post-title"><a href="{% url 'post_view' post.slug  %}">{{post.title}}</a></div>
                <div class="post-date">{{ post.created_on}} | <a href="{% url 'post_view' post.slug  %}">0 comments</a> | Tags: meta</div>
            </div>
            <div class="post-content">{{post.content|safe}}</div>
        </div>
    {% endfor %}
{% endblock %}