{% extends "portal_base.html" %}
{% load static %}

{% block content %}
    <div class="post-container">
        <div class="post-title-container">
            <div class="post-title">About</i></div>
        </div>
        <div class="post-content">Hi! I am a <a href="https://en.wikipedia.org/wiki/Free_and_open-source_software" target="_blank">FOSS</a> enthusiast and part-time musician from Spain interested in software development, system administration and self-hosted solutions. I have created this website to share updates about my personal projects and write about what I learn. Thank you for your visit!<br /><br /><a href="https://fosstodon.org/@pleiades" target="_blank">Let's be friends on Mastodon!</a> ❤️</div>
    </div>
{% endblock %}