{% extends "portal_base.html" %}
{% load static %}

{% block content %}
    <div class="post-container">
        <div class="post-title-container">
            <div class="post-title">External links</i></div>
        </div>
        <div class="post-title-container">
                <div class="post-title">Personal websites</div>
                    <div class="comment-container">
                        <div class="comment-name">{{ comment.name }}</div>
                        <div class="comment-date">{{ comment.created_on }}</div><br />
                        <div class="comment-content">{{ comment.body | linebreaks }}</div>
                    </div>
            </div>
    </div>
{% endblock %}